---
import Layout from "../../layouts/Layout.astro";
import { all } from "../../lib/fetchMembers";
import { githubAuthHeader } from "../../helpers/secrets";

const authHeader = (await githubAuthHeader()) || {};

async function setMembers(): Promise<string> {
  const data = await all(authHeader);

  let htmlString = "";
  for (var i = 0; i < data.members.length; i++) {
    const member = data.members[i];
    htmlString += `<tr><td><a href="/members/member/${member.name.toLowerCase().replace(" ", "-")}">${member.name}</a></td><td align="center">${member.role}</td><td align="center">${member.joinDate}</td></tr>`;
  }

  return htmlString;
}
---

<Layout title="Stoako | Members > All">
  <table class="data-table" width="70%" cellpadding="1" cellspacing="1">
    <tbody set:html={setMembers()}>
      <tr>
        <th align="left">Member</th>
        <th>Role</th>
        <th>Join Date</th>
      </tr>
    </tbody>
  </table>
</Layout>
