---
import EmbedLayout from "../../layouts/EmbedLayout.astro";
---

<EmbedLayout
    title="Stoako | Maps"
    embedTitle="The Official Maps of Stoako"
    embedDescription="View the official maps for the Kingdom of Stoako."
>
    <a href="/maps/kingdom">Full Kingdom Map</a>
    <br />
    <br />
    <strong>Shires</strong>
    <ul style="margin: 0; padding: 0; padding-left: 1.75rem;">
        <li><a href="#">Crownswyck</a></li>
        <li><a href="#">Telumah</a></li>
        <li><a href="#">Gooby</a></li>
        <li><a href="#">Schmedius</a></li>
    </ul>
</EmbedLayout>
