---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Stoako | BnR">
    <a href="#">Approved</a>
    <a href="/bnr/awaiting">Awaiting</a>
    <a href="#">Declined</a>
</Layout>