---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Stoako | BnR">
    <a href="/bnr/approved">Approved</a>
    <br/>
    <a href="/bnr/awaiting">Awaiting</a>
    <br/>
    <a href="/bnr/declined">Declined</a>
    <div style="margin-bottom: 2rem;"></div>
    <a href="/bnr/create">Create</a>
    <div style="margin-bottom: 3rem;"></div>
</Layout>