<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/png" href="/assets/images/stoako.png" /> -->
    <title>Uh oh!</title>
</head>

<body style="background-color: black;">
    <img src="https://http.cat/404.jpg" alt="404 | Not Found" style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
    " draggable="false"/>
</body>

</html>